{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    
    <div class="main-tags" style="margin-top: 15px;">
        {{- range first 10 site.Taxonomies.tags.ByCount }}
        <a href="{{ .Page.RelPermalink }}" class="tag-button">
            {{ .Page.Title }} <sup>{{ .Count }}</sup>
        </a>
        {{- end }}
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" .AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}