{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    
    <div class="main-tags" style="margin-top: 15px;">
        {{- range $name, $taxonomy := site.Taxonomies.tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize | lower }}/" class="tag-button">
            {{ $name }} <sup>{{ $taxonomy.Count }}</sup>
        </a>
        {{- end }}
    </div>

    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" .AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}